services:
  - type: web
    name: mecapro-frontend
    runtime: static
    buildCommand: npm install && npm run build
    staticPublishPath: ./dist
    envVars:
      - key: NODE_VERSION
        value: 20.11.0
      - key: NODE_ENV
        value: production
      - key: VITE_API_URL
        value: https://mecapro4-0-main.onrender.com/api
